<%- include('../layouts/header'); -%>
<main
class="l-main">
<!--===== ALL PRODUCTS =====-->
<section class="featured section" id="shop">
	<h2 class="section-title">Tous nos articles</h2>
	<div class="featured__container bd-grid">
		<% items.forEach(item => { %>
		<article class="books">
			<img src="assets/img/livre<%= item.id%>.png" alt="imageFeatured" class="books__img">
			<span class="books__name"><%= item.intitule %></span>
			<span class="books__author"><%= item.author %></span>
			<span class="books__price"><%= item.prix %>  XOF</span>
			<a href="/sendRequest/<%= item.id%>" class="button-light">Wecco
				<i class="bx bx-right-arrow-alt button-icon"></i>
			</a>
		</article>
		<% }) %>
	</div>

	<div class="books__pages bd-grid">
		<div>
			<span class="books__pag">1</span>
			<span class="books__pag">2</span>
			<span class="books__pag">&#8594;
			</span>
		</div>
	</div>

</section>
</main>

		<!--===== FOOTER =====-->

<%- include('../layouts/footer'); -%>